<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NYC Food Banks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/f8027915fa.js" crossorigin="anonymous"></script>  
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body> 
    <section class="hero has-background-white-ter is-fullheight">
        <!-- .hero-head -->
        <nav class="hero-head">
            <div class="columns is-mobile is-marginless heading has-text-weight-bold">
                <div class="column left">
                    <p class="subtitle">NYC FOOD BANKS</p>
                </div>              
            </div>
        </nav>
        <!-- /.hero-head -->   

        <!-- .hero-body -->
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class ="column is-5-tablet is-6-desktop is-7-widescreen"> 
                        <div class="box">           
                            <% if @banks_sorted != nil %>
                                <p class="subtitle">
                                    These are the nearest food banks open <strong><%=@time[:day_of_week]%></strong> at <strong><%=@time[:hour]%>:<%=@time[:minutes]%> <%=@time[:ampm]%></strong>
                                    <br>
                                    <label class="is-size-5 has-text-grey">Please call to confirm hours</label>
                                </p> 
                                <label class="label">Locations</label>

                                <!------------------------>
                                <!-- Code for map BEGIN -->
                                <!------------------------>

                                <!--The div element for the map -->
                                <div id="map"></div>

                                <script>
                                // Initialize and add the map
                                function initMap() {
                                // The location of food banks
                                <% for i in 0..4 %>
                                    <% if @banks_sorted[i] != nil %>
                                        var bank_<%=i%> = {lat: <%=@banks_sorted[i].lat%>, lng: <%=@banks_sorted[i].lng%>};
                                    <% end %>
                                <% end %>
                                // The location of user
                                var user_location = {lat: <%=@user_location.lat%>, lng: <%=@user_location.lng%>};    
                                // The map, centered at the user
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 11.5, 
                                    center: user_location,
                                    gestureHandling: 'auto'
                                });
                                <% for i in 0..4 %>
                                    <% if @banks_sorted[i] != nil %>
                                    var contentString_<%=i%> = '<div id="content">'+
                                    '<div id="siteNotice">'+
                                    '</div>'+
                                    '<p class="is-size-7"><strong><%=@banks_sorted[i].name.gsub("\'","&#8217;")%></strong></p>'+ //Replace any single quotes in the names with equivalent code so HTML does not crash
                                    '<p class="is-size-7"><a href="https://maps.google.com/?q=<%=@banks_sorted[i].address%>" target="_new"><%=@banks_sorted[i].address%></a><br>'+        
                                    '<a href="tel:<%=@banks_sorted[i].phone%>"><%=@banks_sorted[i].phone%></a></p>'+
                                    '</div>';
                                    <% end %>            
                                <% end %>

                                var contentString_user = '<div id="content">'+
                                '<div id="siteNotice">'+
                                '</div>'+
                                '<h4 id="firstHeading" class="firstHeading"><%=@user_location.full_address%></h4>'+ 
                                '</div>';

                                // The markers, positioned for each food bank
                                <% for i in 0..4 %>
                                    var infowindow_<%=i%> = new google.maps.InfoWindow({
                                        content: contentString_<%=i%>
                                    });     
                                    var marker_<%=i%> = new google.maps.Marker({
                                        position: bank_<%=i%>,             
                                        map: map
                                    });
                                    marker_<%=i%>.addListener('click', function() {
                                        <% for j in 0..4 %>
                                            if (infowindow_<%=j%>) {
                                                infowindow_<%=j%>.close();
                                            }
                                        <% end %>
                                        if (infowindow_user) {
                                            infowindow_user.close();
                                        }
                                        infowindow_<%=i%>.open(map, marker_<%=i%>);
                                    });    
                                <% end %>
                                // InfoWindow for user
                                var infowindow_user = new google.maps.InfoWindow({
                                    content: contentString_user
                                });    
                                // The marker positioned for the user
                                    var marker_user = new google.maps.Marker({
                                        position: user_location, 
                                        icon: {
                                            path: google.maps.SymbolPath.CIRCLE,
                                            scale: 4
                                        },            
                                        map: map
                                    });   
                                    marker_user.addListener('click', function() {
                                        infowindow_user.close;
                                        infowindow_user.open(map, marker_user);
                                    });        
                                }
                                </script>

                                <!--Load the API from the specified URL
                                * The async attribute allows the browser to render the page while the API loads
                                * The key parameter will contain your own API key (which is not needed for this tutorial)
                                * The callback parameter executes the initMap() function
                                -->

                                <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=<%=@api_key%>&callback=initMap">
                                </script>

                                <!---------------------->
                                <!-- Code for map END -->
                                <!---------------------->

                            <% end %>
                            
                            <!---- Bank details ---->
                            <br>
                            <% if @banks_sorted != nil %>
                                <% for i in 0..4 %>
                                    <% if @banks_sorted[i] != nil %>
                                        <div class="box"> 
                                            <p class="is-size-5"><strong><%=@banks_sorted[i].name%></strong></p>
                                            <p class="is-size-6"><a href="https://maps.google.com/?q=<%=@banks_sorted[i].address%>" target="_new"><%=@banks_sorted[i].address%></a> (<%=@banks_sorted[i].distance.to_f.round(1)%> miles)</p>
                                            <p class="is-size-6"><a href="tel:<%=@banks_sorted[i].phone%>"><%=@banks_sorted[i].phone%></a> (<%=@banks_sorted[i].contact%>)</p>
                                            <p class="is-size-6"><%=@banks_sorted[i].program%></p>
                                                <table class="table is-narrow is-striped">
                                                    <% days_array = @banks_sorted[i].days.split(',') %>
                                                    <% days_array.each do |day| %>
                                                    <% if day.length > 1 %>
                                                        <tr>
                                                            <td><p class="is-size-6"> <%=day.split(' ',2)[0]%></p></td>
                                                            <td><p class="is-size-6"> <%=day.split(' ',2)[1]%></p></td>
                                                        </tr>
                                                    <% end %>
                                                    <% end %>  
                                                </table>                                          
                                        <% end %>
                                        </div>
                                    <% end %>   
                                <% else  %>
                                    <p class="subtitle">
                                        No food banks are open <strong><%=@time[:day_of_week]%></strong> at <strong><%=@time[:hour]%>:<%=@time[:minutes]%> <%=@time[:ampm]%></strong>
                                    </p> 
                                    <br>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- .hero-foot -->
            <nav class="hero-footer">
                <div class="columns is-mobile is-marginless heading has-text-weight-bold">
                    <div class="column left">
                        <p class="navbar-item desktop has-text-black desktop"><a href="#">CONTACT US</a></p>
                    </div>
                </div>
            </nav>
            <!-- /.hero-foot -->             
        </section>    
</body>
</html>